// $block-bg: #fff; 
// $brand-bg: rgba(240, 240, 240, 0.8); 
// $brand-color: #1d1a1a;
// $main-color: rgb(255, 150, 1);
// $btn-color: #fff; 


.good-item {
	position: relative;
	width: 300px;
	border-radius: 10px;
	margin-bottom: 30px;

	@media (min-width: 375px) {
		width: 320px;
		margin: 0 20px 30px;
	}

	@media (min-width: 1120px) {
		margin: 0 20px 30px 0;
		margin-right: 20px;

		.good-item:nth-child(3n) {
			margin-right: 0;
		}
	}
}

.good-item__input {
	position: absolute;
	z-index: -1;
	border: none;
	background: transparent;
	top: 0;
	left: 0;

	&:checked + .good-item__label {
		background-image: linear-gradient(to bottom, transparent 0, transparent 41px, $color-selected 41px, $color-selected 100%),
			linear-gradient(to right, transparent 0, transparent 41px, $color-selected 41px, $color-selected 100%),
			url('img/cat.png'),
			linear-gradient(135deg, transparent 0, transparent 29px, $color-selected 29px,$color-selected 34px, $white 34px, $white 100%);
		border-bottom: 4px solid $color-selected;
		border-right: 4px solid $color-selected;

		&--hover:hover {
			background-image: linear-gradient(to bottom, transparent 0, transparent 41px, $color-selected-hover 41px, $color-selected-hover 100%),
							linear-gradient(to right, transparent 0, transparent 41px, $color-selected-hover 41px, $color-selected-hover 100%),
							url('img/cat.png'),
							linear-gradient(135deg, transparent 0, transparent 29px, $color-selected-hover 29px,$color-selected-hover 34px, $white 34px, $white 100%);
			border-bottom: 4px solid $color-selected-hover;
			border-right: 4px solid $color-selected-hover;
		}
	}

	&:checked + .good-item__label .good-item__weight {
		background-color: $color-selected;
	}

	&:checked + .good-item__label--hover:hover .good-item__weight {
		background-color: $color-selected-hover;
	}

	&:disabled + .good-item__label {
		cursor: none;
		background-image: linear-gradient(to bottom, transparent 0, transparent 41px, $color-desabled 41px, $color-desabled 100%),
			linear-gradient(to right, transparent 0, transparent 41px, $color-desabled 41px, $color-desabled 100%),
			url('img/cat.png'),
			linear-gradient(135deg, transparent 0, transparent 29px, $color-desabled 29px,$color-desabled 34px, $white 34px, $white 100%);
		border-bottom: 4px solid $color-desabled;
		border-right: 4px solid $color-desabled;

		& .good-item__title,
		& .good-item__ingredien {
			color: $color-font;
		}

		&:before {
			content: '';
			display: block;
			border-radius: 4px;
			position: absolute;
			z-index: 1;
			top: 4px;
			bottom: 0;
			left: 4px;
			right: 0;
			background-image: linear-gradient(135deg, transparent 0, transparent 29px, $bg-desabled 29px, $bg-desabled 100%);
		}
	}

	&:disabled + .good-item__label .good-item__weight {
		background-color: $color-desabled;
	}
}

.good-item__label {
	display: block;
	min-height: 480px;
	overflow: hidden;
	position: relative;
	padding: 20px 40px 250px;
	margin-bottom: 15px;;
	box-sizing: border-box;
	border-radius: 10px;
	cursor: pointer;
	background-image: linear-gradient(to bottom, transparent 0, transparent 41px, $color-default 41px, $color-default 100%),
					linear-gradient(to right, transparent 0, transparent 41px, $color-default 41px, $color-default 100%),
					url('img/cat.png'),
					linear-gradient(135deg, transparent 0, transparent 29px, $color-default 29px,$color-default 34px, $white 34px, $white 100%);
	background-size: 4px 100%,100% 4px,auto, 100% 100%;
	background-position: 0 0, 0 0, -24px 180% ,0 0;
	background-repeat: no-repeat;
	border-bottom: 4px solid $color-default;
	border-right: 4px solid $color-default;

	&:hover {
		background-image: linear-gradient(to bottom, transparent 0, transparent 41px, $color-hover 41px, $color-hover 100%),
			linear-gradient(to right, transparent 0, transparent 41px, $color-hover 41px, $color-hover 100%),
			url('img/cat.png'),
			linear-gradient(135deg, transparent 0, transparent 29px, $color-hover 29px,$color-hover 34px, $white 34px, $white 100%);
		border-bottom: 4px solid $color-hover;
		border-right: 4px solid $color-hover;
	}
	&:hover .good-item__weight {
		background-color: $color-hover;
	}

	@media (min-width: 375px) {
		padding: 23px 46px 250px;
	}
}

.good-item__category {
	font-size: 16px;
	margin: 0 0 5px;
}

.good-item__title {
	color: $black;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 0;
}

.good-item__ingredien {
	color: $black;
	font-size: 24px;
	letter-spacing: 1px;
	margin: 0 0 14px;
}

.good-item__description {
	max-width: 140px;
	padding-left: 3px;
	
	& p {
		margin: 0;
		font-weight: 700;
	}	
	& span {
		font-weight: 400;
	}	
}

.good-item__weight {
	position: absolute;
	display: block;
	box-sizing: border-box;
	padding: 10px 0;
	margin: 0;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: $color-default;
	bottom: 11px;
	right: 11px;
	text-align: center;
	color: $white;

	&-num {
		font-size: 42px;
		line-height: 42px;
	}
	
	&-kg {
		font-size: 21px;
		line-height: 21px;
	}

}

.good-item__subtitle {
	font-size: 13px;
	text-align: center;
	color: $white;
	margin: 0;

	&--disabled {
		color: $color-font-disabled;
	}
}

.good-item__link {
	display: inline-block;
	color: $color-default;
	text-decoration: none;
	border-bottom: 1px dashed $color-default;
	font-size: inherit;
}