.goods {
	// margin-top: 50%;
	// transform: translateY(-50%);
	display: flex;
	overflow: hidden;
	height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-image: url(img/pattern.png);
	font-family: $trebuchet-font;
	font-size: 14px;
	font-weight: 100;
	color: $color-font;
	padding-top: 60px;
	padding-bottom: 60px;
	box-shadow: inset 0 180px 180px 0 rgba(0, 0, 0, 0.5),
				inset 0 -180px 180px 0 rgba(0, 0, 0, 0.5);
}

.goods__container {
	min-width: 320px;
	max-width: 1120px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.goods__title {
	font-family: $exo-font;
	font-weight: 100;
	text-align: center;
	color: $white;
}

.hidden {
	display: none;
}