.goods {
	// margin-top: 50%;
	// transform: translateY(-50%);
	overflow-x: hidden;
	min-height: 100vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-image: url(img/pattern.png);
	font-family: $trebuchet-font;
	font-size: 14px;
	font-weight: 100;
	color: $color-font;
	padding-top: 60px;
	padding-bottom: 60px;
	box-shadow: inset 0 180px 180px 0 rgba(0, 0, 0, 0.5),
				inset 0 -180px 180px 0 rgba(0, 0, 0, 0.5);
}

.goods__container {
	min-width: 320px;
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	@media (min-width: 1120px) {
		justify-content: space-between;
		width: 1150px;
		margin-bottom: -30px;
	}
}

.goods__title {
	margin: 0 0 25px;
	font-family: $exo-font;
	font-weight: 100;
	font-size: 36px;
	text-align: center;
	color: $white;
}

.hidden {
	display: none;
}