doctype html
- var goodList = [{activity: false, checked: false, id: 'fua-gra',ingredien:'фуа-гра',portion: '10',giftNum: '',giftText: 'мышь в подарок',weight: '0,5', textSelected: 'Печень утки разварная с артишоками.'},{activity: false,checked: true, id: 'fish',ingredien:'рыбой',portion: '40',giftNum: '2',giftText: 'мыши в подарок',weight: '2', textSelected: 'Головы щучьи с чесноком да свежайшая сёмгушка.'},{activity: true,checked: false,id: 'chicken',ingredien:'курой',portion: '100',giftNum: '5',giftText: 'мышей в подарок заказчик доволен',weight: '5', textSelected:'Филе из цыплят с трюфелями в бульоне.'}];

block goods
	.goods
		h1.goods__title Ты сегодня покормил кота
		.goods__container
			
			each good in goodList
				include ../good-item/good-item.pug
				+good-item(
					good.activity,
					good.checked,
					good.id,
					good.ingredien,
					good.portion,
					good.giftNum,
					good.giftText,
					good.weight, 
					good.textSelected
				)